<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Regexes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.hackingdartmouth.safarisearchhider</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>regex1</string>
			<key>label</key>
			<string></string>
			<key>placeholder</key>
			<string>Type in a valid regex.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>addRegex</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>add.png</string>
			<key>label</key>
			<string>Add Regex</string>
		</dict>
	</array>
	<key>title</key>
	<string>SafariSearchHider</string>
</dict>
</plist>
